.header p{
    padding-top: 50px;
}
.toolbar{
    display: flex;
    padding-left: 500px;
    background-color: #046056;
}
.toolbar a{
    color: white;

}
body {
    padding-top: 0px;
}
.footer{
    background: #20c997;

}

